In [39]:
import pandas

df = pandas.read_csv("./3.2.csv", index_col="id_information")
df.head()

,name,position,department,authority,state,net,gross,reporting_start,reporting_end
id_information,,,,,,,,,
16311845,Adolfo Hernandez Hernandez,Fontanero,OBRAS PUBLICAS,Jaltocán,Hidalgo,4000.00,4254.00,01/01/2018,30/06/2018
16480190,ARELY SAMANTA CLEOFAS VELASCO,"AUXILIAR DE ENFERMERIA ""A""",H.G. ENRIQUE CABRERA,Secretaría de Salud,Ciudad de México,12177.86,16092.00,01/01/2018,31/03/2018
17599078,MELODY OLIMPIC GONZALEZ MONTES,POLICIA PRIMERO,SUBSECRETARIA DE OPERACION POLICIAL,Secretaría de Seguridad Ciudadana,Ciudad de México,11652.00,16030.00,01/01/2020,31/03/2020
6514612,ANGEL ALLENDE PULIDO,APOYO Y ASISTENCIA A LA EDUCACION,DIRECCIÓN GENERAL DE OPERACIONES DE SERVICIOS ...,Autoridad Educativa Federal en la Ciudad de Mé...,Federación,10180.57,2910.65,01/07/2018,31/12/2018
11927166,Yolanda Reyes Gonzalez,DIRECTOR,ACCION CIVICA,MUNICIPIO DE RINCÓN DE ROMOS,Aguascalientes,17004.40,6188.40,01/07/2019,31/12/2019

| What problems should we worry about?                         | What can we do about these problems?   |
| ------------------------------------------------------------ | -------------------------------------- |
| `periodoreportafin` and `periodoreportainicio` aren't dates  | Convert them                           |
| Many unavailable `nombre` values should be normalized        | Replace                                |
| `"Ver nota"` and `"na"` as default values for `denominacion` | Replace with `NaN`                     |

In [40]:
df.index.rename("id", inplace=True)

In [41]:
def parse(column: str):
    source = df[column].replace("/0208", "/2018", regex=True)
    one = pandas.to_datetime(source, format="%d/%m/%Y", errors="coerce")
    two = pandas.to_datetime(source, format="%d/%m/00%y", errors="coerce")
    three = pandas.to_datetime(source, format="%d/%m/02%y", errors="coerce")
    df[column] = one.fillna(two).fillna(three)


parse("reporting_start")
parse("reporting_end")

In [42]:
df.head()

,name,position,department,authority,state,net,gross,reporting_start,reporting_end
id,,,,,,,,,
16311845,Adolfo Hernandez Hernandez,Fontanero,OBRAS PUBLICAS,Jaltocán,Hidalgo,4000.00,4254.00,2018-01-01,2018-06-30
16480190,ARELY SAMANTA CLEOFAS VELASCO,"AUXILIAR DE ENFERMERIA ""A""",H.G. ENRIQUE CABRERA,Secretaría de Salud,Ciudad de México,12177.86,16092.00,2018-01-01,2018-03-31
17599078,MELODY OLIMPIC GONZALEZ MONTES,POLICIA PRIMERO,SUBSECRETARIA DE OPERACION POLICIAL,Secretaría de Seguridad Ciudadana,Ciudad de México,11652.00,16030.00,2020-01-01,2020-03-31
6514612,ANGEL ALLENDE PULIDO,APOYO Y ASISTENCIA A LA EDUCACION,DIRECCIÓN GENERAL DE OPERACIONES DE SERVICIOS ...,Autoridad Educativa Federal en la Ciudad de Mé...,Federación,10180.57,2910.65,2018-07-01,2018-12-31
11927166,Yolanda Reyes Gonzalez,DIRECTOR,ACCION CIVICA,MUNICIPIO DE RINCÓN DE ROMOS,Aguascalientes,17004.40,6188.40,2019-07-01,2019-12-31

In [43]:
df[df["reporting_start"].isna() | df["reporting_end"].isna()]

Empty DataFrame
Columns: [name, position, department, authority, state, net, gross, reporting_start, reporting_end]
Index: []

In [46]:
df.dtypes

name                       object
position                   object
department                 object
authority                  object
state                      object
net                       float64
gross                     float64
reporting_start    datetime64[ns]
reporting_end      datetime64[ns]
dtype: object

In [45]:
df.to_csv("./3.3.csv", index=False)